<!-- Navigation -->
   <nav class="navbar mega-menu navbar-fixed-top nav-height" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">

            <!--  <div class="aic-logo">
                  <div class="aic-text"><span class="red">A</span>i</div>
                  <div class="aic-box"><span class="little-let black">c</span></div>
              </div> -->
              <img src="{{ "/img/icon-grey-small.png" | prepend: site.baseurl }}" class="nav-img" alt="Ai Collaborative">
            </a>
      <!--      <div id="logo-words" class="left uppercase">
              <a href="{{ site.baseurl }}/">
                Architecture + <br />
                Interior Design <br />
                Collaborative<br />
              </a>
            </div> -->

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
                   <ul class="dropdown-menu">
                     <li><a href="{{ site.baseurl }}/about">About</a></li>
                     <li><a href="{{ site.baseurl }}/services">Services</a></li>
                     <li><a href="{{ site.baseurl }}/principals">Principals</a></li>
                   </ul>
                 </li> <!-- /.dropdown -->
                 <li>
                   <a class="page-scroll" href="{{ site.baseurl }}/portfolio">Portfolio</a>
                   <ul class="dropdown-menu"></ul>
                  </li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/comingsoon2">Awards</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/contact">Contact</a></li>
               </ul><!--/.nav navbar-nav navbar-right-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  <!-- navbar-end -->
