<!-- Header
============================================= -->
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/aic-copy.png"><img src="{{ site.baseurl }}/img/aic-copy.png" alt="Canvas Logo"></a>
        <a href="index.html" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/aic-copy.png"><img src="{{ site.baseurl }}/img/aic-copy.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <div id="logo-words" class="left uppercase">
          <p class="row1 page-scroll">Architecture +</p>
          <p class="row2">Interior Design</p>
          <p class="row3">Collaborative</p>
        </div>
      </a>

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/"><div>HOME</div></a></li>
          <li><a href="#"><div>PROFILE &#9660;</div></a>
            <ul>
              <li><a href="{{ site.baseurl }}/about"><div>ABOUT</div></a></li>
              <li><a href="{{ site.baseurl }}/services"><div>SERVICES</div></a></li>
              <li><a href="{{ site.baseurl }}/principals"><div>PRINCIPALS</div></a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/portfolio"><div>PORTFOLIO</div></a></li>
          <li><a href="{{ site.baseurl }}/comingsoon2"><div>AWARDS</div></a></li>
          <li><a href="{{ site.baseurl }}/contact"}><div>CONTACT</div></a></li>
        </ul>
      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
