<!DOCTYPE html>
<html lang="en" class="no-js">
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>

    {% include nav.html %}

      {{ content }}


    {% include js.html %}

    <script>
    jQuery( window ).load(function() {
      if (window.location.pathname === "/portfolio/") {
        jQuery('#page1').click();
        console.log("hello there load");
      } else if (window.location.pathname === "/portfolio-2/"){
        jQuery('#page2').click();
        console.log("hello there load");
      }
    });
    </script>

    </body>
</html>
